# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code related files
.vscode/ 

# latex related files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
